@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700');
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family:'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif !important;
  font-size: 14px;
  color: #333;
  line-height: 1.6;
  position: relative;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
  backface-visibility: hidden;
}
a img{
  opacity: 1;
  transition: 0.3s;
  -webkit-backface-visibility: hidden; /* 追加 */
  backface-visibility: hidden; /* 追加 */
}
a:hover img:not(.ov) {
  opacity: 0.7;
}
img {
  vertical-align: middle;
}
.wrapper{
  min-width: 1280px;
}
/*-----header-----*/
.header{
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  transition: 0.3s;
  z-index: 150;
}
.header.up{
  top: -73px;
}
.h-token{
  height: 73px;
}
.header-inner{
  display: flex;
  width: 1140px;
  margin: 0 auto;
  flex:2;
  padding: 15px 0;
  max-width: 1170px;
  align-items: center;
  padding-left: 5px;
}

.sitelogo{
  margin-right: 55px;
}
.sitelogo a{
  width: 200px;
  display: block;
}
.g-nav{
  display: flex;
  font-weight: bold;
  margin-right: 160px;
}
.g-nav li{
  margin-right: 17px;
}
.g-nav li:last-child{
  margin-right: 0;
}
.g-nav li a{
  opacity: 1;
  transition: 0.3s;
}
.g-nav li a:hover{
  opacity: 0.7;
}
.g-nav li span{
  color: #777;
}
.g-nav li.current{
  background-color: #f39a24;
}
.g-nav li.current a{
  color: #fff;
  padding: 0 2px;
}
.g-nav li.current a:hover{
  opacity: 1;
}

/*----top-area----*/
.top-area{
  margin-bottom: 50px;
  overflow: hidden;
}
.top-area img{
  width: 100%;
}
.main-banner{
  width: 50%;
  float: left;
}
.sub-banner{
  width: 50%;
  float: left;
}
.sub-banner li{
  width: 50%;
  float: left;
}




/*----共通----*/
.sec-ttl{
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.2;
  font-weight: normal;
}
.sec-ttl b{
  font-size: 48px;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
}
.sec-ttl span{
  letter-spacing: 1.5px;
}
.btn{
  opacity: 1;
  transition: 0.3s;
  display: block;
}
.btn:hover{
  opacity: 0.7;
}
.btn-more{
  width: 360px;
  font-size: 16px;
  padding: 30px 0;
  text-align: center;
}
.inner-wrap{
  width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}
.inner-wrap--min{
  width: 1040px;
  margin: 0 auto;
  overflow: hidden;
}
.sidebar{
  width: 260px;
  float: left;
}
.pager{
  text-align: center;
}
.pager a{
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #e0dace;
  border-radius: 50%;
}
.pager a:first-child,
.pager a:last-child{
  background: none;
  font-size: 20px;
  font-weight: bold;
  color: #d4d4d2;
}
.pager a:not(:first-child):not(:last-child):hover{
  background-color: #000;
  color: #fff;
}
.pager a.current{
  background-color: #000;
  color: #fff;
}
.pager a span{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.al{
  text-align: left;
}
.three-col{
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.three-col:nth-child(3n){
  margin-right: 0;
}
.dis-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}




/*----whatsnew----*/
.whatsnew{
  width: 780px;
  margin: 0 auto 50px auto;
  overflow: hidden;
}
.whatsnew .sec-ttl b{
  color: #f4a000;
  font-size: 20px;
}
.whatsnew-list{
  margin-bottom: 10px;
}
.whatsnew-list a{
  display: block;
  margin-bottom: 8px;
}
.whatsnew-list a:last-child{
  margin-bottom: 0;
}
.whatsnew-list dl{
  display: flex;
}
.whatsnew-list dt{
  margin-right: 30px;
  font-style: italic;
  font-weight: bold;
}
.whatsnew-more{
  width: auto;
  display: block;
  float: right;
  padding: 4px 25px 2px 25px;
  color: #fff;
  background-color: #f4a000;
}
.whatsnew .sec-ttl span{
  font-size: 20px;
  color: #f4a000;
}





/*----solution----*/
.solution{
  margin-bottom: 90px;
}
.solution-inner{
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 40px;
}
.solution-tab{
  width: 780px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.solution-tab li{
  width: 165px;
  position: relative;
  text-align: center;
}
.solution-tab li.active:after{
  position: absolute;
  bottom: -15px;
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #f5b440;
}
.solution-tab li:hover{
  cursor: pointer;
}
.solution-tab-ttl{
  color: #5e5c53;
  font-size: 18px;
  margin-top: 5px;
}
.solution-tab li img{
  opacity: 1;
  transition: 0.3s;
  width: 60%;
  margin: 0 auto;
}
.solution-tab li img:hover{
  opacity: 0.7;
}
.solution-tab li a{
  display: block;
  margin: 0 auto;
}
.spec{
  width: 780px;
  margin: 0 auto;
}
.spec:not(:first-of-type){
  display: none;
}
.spec-ttl{
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
}
.spec-lead{
  margin-bottom: 30px;
  text-align: justify;
}
.spec-btn{
  overflow: hidden;
}
.spec-more{
  display: block;
  padding: 30px 0;
  float: left;
  text-align: center;
}
.spec-more:first-child{
  background-color: #ff9933;
  float: left;
}
.spec-more:last-child{
  background-color: #ffcc33;
  float: right;
}




/*----products----*/
.products{
  position:relative;
  height: 300px;
  margin-bottom: 60px;
  background: url(img/common/products_bg.png) center center no-repeat;
  background-size: cover;
}
.products .sec-ttl{
  position: absolute;
  top: 33%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.products-more{
  position: absolute;
  top: 72%;
  left: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #ffcc33;
  text-align: center;
  padding: 30px 0;
}
.products .sec-ttl{
  color: #fff;
}
.solution-icon{
  position: relative;
}
.solution-icon:before{
  content: "";
  position: absolute;
  width: 51%;
  height: 67%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}
.solution-icon.solution-icon1:before{
  background-image: url(img/common/solution_icon01_w.svg);
  width: 49%;
  height: 66%;
}
.solution-icon.solution-icon2:before{
  background-image: url(img/common/solution_icon02_w.svg);
}
.solution-icon.solution-icon3:before{
  background-image: url(img/common/solution_icon03_w.svg);
}
.solution-icon.solution-icon4:before{
  background-image: url(img/common/solution_icon04_w.svg);
}






/*----contents----*/
.contents{
  width: 1140px;
  margin: 0 auto 50px auto;
}
.card-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-list-ttl{
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
}
.card-list-ttl span{
  position: relative;
}
.card-list-ttl span:before{
  position: absolute;
  left: -1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "ー";
  color: #999999;
  font-size: 30px;
}
.card-list-ttl span:after{
  position: absolute;
  right: -1.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "ー";
  color: #999999;
  font-size: 30px;
}
.card-article{
  position: relative;
  width: 24%;
  margin-bottom: 50px;
}
.card-article:before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 75px;
  height: 33px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 50;
}
.card-article.label-solution:before{
  background-image: url(img/common/label_solution.png);
}
.card-article.label-product:before{
  background-image: url(img/common/label_product.png);
}
.card-article-thum{
  position: relative;
  margin-bottom: 20px;
}
.card-article-thum img{
  width: 100%;
}
.card-article-thum:after{
  position: absolute;
  content: "";
  display: block;
  width: calc(100% + 1%);
  height: 100%;
  top: 1px;
  right: -2px;
  background: url(img/common/list_frame.svg) no-repeat;
  background-size: 100% 100%;
  fill: rgba(0,0,0,0);  /* fill: none; の代わり */
}
.card-article-data{
  color: #666666;
  font-style: italic;
}
.card-article-text{
  font-size: 16px;
  text-align: justify;
  overflow: hidden;
  margin-bottom: 10px;
}
.card-article-text p{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.card-article-tag li{
  padding: 3px 5px;
  background-color: #ffcc66;
  font-size: 12px;
  opacity: 1;
  transition: 0.3s;
  margin-bottom: 5px;
  display: inline-block;
}
.card-article-tag li:hover{
  opacity: 0.7;
}
.card-list--col3{
  width: 850px;
  justify-content: flex-start;
  margin-right: 30px;
}
.card-list--col3 .card-article{
  margin-right: 2%;
  width: 32%;
}
.card-list--col3 .card-article:nth-child(3n){
  margin-right: 0;
}
.inner-min{
  float: left;
}
.relatedlinks{
  font-weight: normal;
  margin-bottom: 10px;
}
.sidebar-banner-area{
  margin-bottom: 40px;
}
.sidebar-banner{
  margin-bottom: 20px;
  text-align: center;
}
.sidebar-banner:last-child{
  margin-bottom: 0;
}
.sidebar-banner img{
  width: 100%;
}
.relation-tag-ttl{
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
}
.relation-tag-list li{
  position: relative;
  display: inline-block;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  padding: 4px 7px 3px 7px;
  margin-bottom: 5px;
}
.relation-tag-list li a{
  position: relative;
  display: block;
  background-size: 12px;
  padding-left: 17px;
  padding-right: 4px;
  z-index: 20;
}
.relation-tag-list li a:before{
  position: absolute;
  left: -1px;
  font-family: FontAwesome;
  content: "\f02b";
  z-index: 40;
}




.contents-more{
  padding: 25px 0;
  border: 5px solid #bfbfbf;
  text-align: center;
  margin: 0 auto;
}
.contents-more a{
  display: block;
}




/*----footer----*/
.footer{
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #bfbfbf;
}
.footer-logo{
  text-align: center;
  margin-bottom: 25px;
}
.copyright{
  text-align: center;
  font-size: 12px;
  margin-bottom: 35px;
}
.sns-area{
  display: flex;
  justify-content: center;
}
.sns-btn{
  margin-right: 5px;
}




/*pagetop*/
.pagetop {
  margin: 0 auto;
  display: none;
}
.pagetop img {
  width: 100%;
  display: block;
  width: 40px;
  position: fixed;
  bottom: 30px;
  margin-left: 1160px;
}


/*----pankuzu----*/
.pankuzu{
  margin-bottom: 50px;
  padding: 10px 0 10px 10px;
  background-color: #ececec;
}
.pankuzu-list{
  width: 1140px;
  margin: 0 auto;
}
.pankuzu-list li{
  position: relative;
  display: inline-block;
}
.pankuzu-list li:after{
  content: "＞";
  margin-left: 10px;
}
.pankuzu-list li:last-child:after{
  content: none;
}
.pankuzu-list li a{
  text-decoration: underline;
  font-weight: bold;
}
.pankuzu-list li a:hover{
  text-decoration: none;
}




/*----categorypage----*/
.categorypage-ttl{
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.4;
  font-weight: normal;
  font-family: 'Noto Sans', sans-serif;
}
.categorypage-ttl--border{
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 50px;
}
.categorypage-ttl b{
  font-size: 48px;
  display: block;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 5px;
}
.categorypage-ttl span{
  letter-spacing: 1.5px;
}
.low-banner{
  margin-top: 70px;
  padding: 50px 0;
  background-color: #ececec;
}
.low-banner-list{
  width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.low-banner-list li{
  width: 165px;
}
.low-banner-list a{
  display: block;
}
.low-banner-list a img{
  width: 100%;
}


/*----detail----*/
.detail-area{
  width: 750px;
  float: left;
  margin-right: 30px;
}
.detail-head{
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid #bfbfbf;
}
.detail-info{
  margin-bottom: 10px;
}
.detail-label{
  display: inline-block;
  margin-right: 5px;
}
.detail-data{
  display: inline-block;
  color: #666666;
  font-style: italic;
}
.detail-ttl{
  font-size: 24px;
  margin-bottom: 10px;
}
.detail-tag li{
  margin-right: 5px;
  padding: 3px 5px;
  background-color: #ffcc66;
  font-size: 12px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
}
.detail-content-img{
  margin-bottom: 40px;
}
.detail-content-img img{
  width: 100%;
}
.mass{
  margin-bottom: 50px;
}
.mass-ttl{
  margin-bottom: 10px;
  font-size: 26px;
  color: #333333;
}
.mass-text{
  font-size: 16px;
  text-align: justify;
}
.detail-relation-tll{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}
.detail-relation a{
  display: block;
  overflow: hidden;
  margin-bottom: 25px;
}
.detail-relation-list dt{
  position: relative;
  float: left;
  margin-right: 10px;
}
.detail-relation-list dt:before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 72px;
  height: 28px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 50;
}
.detail-relation-list dt:before{
  background-image: url(img/common/label_solution.png);
}
.detail-relation-list dt:after{
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 1px;
  right: 0;
  background: url(img/common/list_frame.svg) no-repeat;
  background-size: 100% 100%;
  fill: rgba(0,0,0,0);
}
.detail-relation-data{
  color: #666666;
  font-style: italic;
}
.detail-relation-text{
  font-size: 18px;
}
.detail-relation-text{
  text-decoration: underline;
}
.detail-relation-text:hover{
  text-decoration: none;
}






/*----solution-page----*/
.sideways{
  width: 1140px;
  margin: 0 auto 40px auto;
  padding-bottom: 40px;
  overflow: hidden;
  border-bottom: 1px solid #bfbfbf;
}
.sideways:last-child{
  margin-bottom: 0;
  border-bottom: none;
}
.sideways-thum{
  position: relative;
  margin-right: 50px;
  float: left;
  padding: 20px 0 0 20px;
  background: url(img/common/triangle.png) left top no-repeat;
}
.sideways-inner{
  width: 750px;
  float: left;
}
.sideways-ttl{
  margin-bottom:10px;
  font-size: 36px;
  line-height: 1.2;
}
.sideways-lead{
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
}
.sideways-lead:before{
  content: "●";
  color: #ff9933;
}
.sideways-text{
  margin-bottom: 30px;
  text-align: justify;
}
.sideways-btn{
  overflow: hidden;
}
.sideways-btn a:first-child{
  float: left;
  background-color: #ff9933;
}
.sideways-btn a:last-child{
  float: right;
  background-color: #ffcc33;
}



/*----download----*/
.download-ttl{
  background-color: #fbdaa8;
  font-weight: normal;
  font-size: 16px;
  padding: 5px 10px;
}
.download-col-inner{
  padding: 20px 0;
  text-align: center;
}
.download-col{
  border: 1px solid #bfbfbf;
}
.download-thum{
  margin-bottom: 5px;
}
.download-text{
  text-decoration: underline;
  padding: 0 5px;
  word-break: break-all;
}
.download-text:hover{
  text-decoration: none;
}






.pc-on{
  display: block;
}
.sp-on{
  display: none;
}














































/*-----Media Queries-----*/
@media screen and (min-width: 985px){
  .header .g-nav{
    display: flex !important;
  }
}
@media screen and (max-width: 984px){
  .menu-trigger{
    position: fixed;
    top: 5px;
    right: 5px;
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: #fff;
    padding: 10px;
    z-index: 150;
    border-radius: 50%;
    border: 2px solid #333;
  }
  .menu-trigger span{
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 20px;
  }
  .menu-trigger span:nth-of-type(1){
    top: 10px;
    left: 20%;
    width: 60%;
  }
  .menu-trigger span:nth-of-type(2){
    top: 47%;
    left: 20%;
    width: 60%;
  }
  .menu-trigger span:nth-of-type(3){
    bottom: 9px;
    left: 20%;
    width: 60%;
  }
  .menu-trigger.active span:nth-of-type(1){
    -webkit-transform: translateY(7px) rotate(-315deg);
    transform: translateY(7px) rotate(-315deg);
  }
  .menu-trigger.active span:nth-of-type(2){
    opacity: 0;
  }
  .menu-trigger.active span:nth-of-type(3){
    -webkit-transform: translateY(-7px) rotate(315deg);
    transform: translateY(-7px) rotate(315deg);
  }
  .h-token{
    height: 47px;
  }
  .header.up{
    top: 0;
  }
  .header-inner{
    width: auto;
    max-width: 100%;
    padding: 6px;
  }
  .luci{
    display: none;
  }
  .g-nav{
    display: none;
    position: fixed;
    width: 100%;
    top: 48px;
    left: 0;
    margin-right: 0;
    height: 100vh;
    background: rgba(0,0,0,0.7);
  }
  .g-nav li{
    position: relative;
    margin-right: 0;
    background-color: #fff;
    border-top: 1px solid #e0dace;
  }
  .g-nav li:after{
    content: "";
    position: absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 14px;
    height: 23px;
    display: block;
    background: url(img/common/next.png) no-repeat;
    background-size: cover;
  }
  .g-nav li a{
    display: block;
    padding: 10px 0 10px 20px;
  }
  .g-nav li.current a{
    padding: 10px 0 10px 20px;
  }
  .inner-wrap{
    width: auto;
  }
  .card-list--col3{
    width: auto;
    margin-right: 0;
  }
  .sidebar{
    width: auto;
    margin: 50px 15px 0 15px;
    margin-top: 50px;
    float: none;
  }
  .contents{
    width: auto;
  }
  .card-list{
    padding: 0 15px 15px 15px;
    justify-content: flex-start;
  }
  .card-article{
    width: 32%;
    margin-right: 2%;
    margin-bottom: 30px;
  }
  .card-article:nth-child(3n){
    margin-right: 0;
  }
  .pagetop img{
    width: 30px;
    right: 20px;
    bottom: 70px;
    margin-left: 0;
  }
  .footer{
    padding: 30px 0;
  }
  .dis-flex{
    padding: 0 15px;
  }
}
@media screen and (max-width: 779px){
  .sp-on{
    display: block;
  }
  .pc-on{
    display: none;
  }
  .sec-ttl{
    margin-bottom: 15px;
    font-size: 13px;
  }
  .sec-ttl b{
    font-size: 28px;
  }
  .main-banner{
    width: auto;
    float: none;
  }
  .sub-banner{
    width: auto;
  }
  .whatsnew{
    width: auto;
  }
  .whatsnew-list{
    max-height: 300px;
  }
  .whatsnew-list a{
    margin-bottom: 0;
  }
  .whatsnew-list dl{
    padding: 15px;
    display: block;
    border-top: 1px solid #7d7d7d;
    margin-bottom: 0;
  }
  .whatsnew-list dd{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .whatsnew-more{
    float: none;
  }
  .solution-inner{
    border-bottom: none;
  }
  .solution-tab{
    width: auto;
    padding-bottom: 0;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0 2%;
  }
  .solution-tab li{
    position: relative;
    width: 49%;
    margin-bottom: 2%;
    text-align: center;
  }
  .solution-tab li img{
    width: 100%;
  }
  .solution-tab li.active:after{
    content: none;
  }
  .solution-tab-ttl{
    background: url(img/common/next.png) 97% center no-repeat;
    background-size: 15px;
  }
  .spec-area{
    display: none;
  }
  .spec{
    width: auto;
  }
  .spec-ttl{
    font-size: 18px;
  }
  .spec-more:first-child,.spec-more:last-child{
    float: none;
  }
  .spec-more:first-child{
    margin-bottom: 10px;
  }
  .spec-lead{
    width: 90%;
    margin: 0 auto 15px auto;
  }
  .solution{
    margin-bottom: 50px;
  }
  .products{
    height: 200px;
    margin-bottom: 50px;
  }
  .products .sec-ttl{
    width: 100%;
  }
  .products-more{
    padding: 15px 0;
    width: 80%;
  }
  .card-list{
    justify-content: space-between;
  }
  .card-article{
    width: 48%;
    margin-right: 0;
  }
  .card-article-thum:after{
    width: 101%;
    right: -1px;
  }
  .btn-more{
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
  }

  /*----sns----*/
  .sns-area{
    display: block;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
  }
  .sns-btn{
    display: block;
    float: left;
    height: 30px;
  }
  .sns-gplus{
    clear: both;
  }

  /*----pankuzu----*/
  .pankuzu{
    margin-bottom: 30px;
  }
  .pankuzu-list{
    width: auto;
    padding-left: 10px;
  }


  /*----categorypage----*/
  .categorypage-ttl{
    font-size: 14px;
    margin-bottom: 50px;
    width: 90%;
    margin: 0 auto 30px auto;
  }
  .categorypage-ttl--border{
    border-bottom: none;
    padding-bottom: 0;
  }
  .categorypage-ttl b{
    font-size: 36px;
  }
  .categorypage-ttl span{
    font-size: 14px;
  }
  .categorypage-ttl span.al{
    display: block;
  }
  .low-banner{
    padding: 25px 0;
  }
  .low-banner-list{
    width: auto;
    flex-wrap: wrap;
    margin: 0 55px;
  }
  .low-banner-list li{
    width: 45%;
    margin-bottom: 7%;
  }











  /*----solution-page----*/
  .sideways{
    width: auto;
    margin: 0 15px 40px 15px;
  }
  .sideways-thum{
    width: 75%;
    margin: 0 auto 30px auto;
    float: none;
    background-size: 70%;
  }
  .sideways-thum img{
    width: 100%;
  }
  .sideways-inner{
    width: auto
  }
  .sideways-ttl{
    font-size: 20px;
  }
  .sideways-btn a:first-child{
    float: none;
    margin-bottom: 10px;
  }
  .sideways-btn a:last-child{
    float: none;
  }


  /*----detail----*/
  .detail-area{
    width: auto;
    float: none;
    margin: 0 8px 0 8px;
  }
  .detail-head{
    margin-bottom: 20px;
  }
  .detail-ttl{
    font-size: 18px;
  }
  .detail-content-img{
    margin-bottom: 20px;
  }
  .mass{
    margin-bottom: 35px;
  }
  .mass-ttl{
    margin-bottom: 5px;
    font-size: 18px;
  }
  .mass-text{
    font-size: 14px;
    text-align: justify;
  }
  .detail-relation-tll{
    font-size: 16px;
  }
  .detail-relation a{
    margin-bottom: 20px;
  }
  .detail-relation-text{
    font-size: 14px;
  }
  .card-list-ttl{
    font-size: 16px;
  }








  .inner-wrap{
    width: auto;
  }
  .inner-wrap--min{
    width: auto;
  }
  .inner-min{
    float: none;
  }
  .card-list--col3{
    width: auto;
    margin-right: 0;
  }
  .card-list--col3 .card-article{
    width: 48%;
    margin-right: 0;
  }
  .three-col{
    width: 48%;
    margin-right: 0;
  }





}
